.jumbotron-fluid {
  margin: 5% 0% 0% 0%;
  background-color: yellow;
}

.sidepane p {
    color: #d5dade;
    padding-left: 1.5em;
    font-size: 16px;
}

.sidepane h4 {
    color: #d5dade;
    padding-left: 1em;
}

.whitename {
  color: #d5dade;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #7aa8b7;
  border-radius: 6px;
  outline: none;
}